Repository SocialSisterYi/bilibili-API-collect, pull requests merged in 2023-12, with the labels that each got.

#881 update grpc proto from 7.57.2
  grpc_api/bilibili/app/playerunite/pugvanymodel.proto/pugvanymodel.proto
  grpc_api/bilibili/app/playerunite/v1/playerunite.proto
  grpc_api/bilibili/app/search/v2/search.proto
  grpc_api/bilibili/app/viewunite/pugvanymodel.proto
  grpc_api/bilibili/app/viewunite/v1/viewunite.proto
  grpc_api/bilibili/metadata/fawkes/fawkes.proto
  grpc_api/bilibili/metadata/restriction/restriction.proto
  grpc_api/bilibili/playershared/playershared.proto
Labels: GRpcAPI, 更新/Update

#884 Update wbi.md about rust and javascript code examples for wbi signature implementation
  docs/misc/sign/wbi.md
Labels: 文档/Document, 更新/Update

#890 为avid-bvid转换和Wbi签名添加Swift实现
  docs/misc/bvid_desc.md
  docs/misc/sign/wbi.md
Labels: 新增/Add, 主站杂项/Misc

#886 update dynamic/
  .gitignore
  docs/dynamic/all.md
  docs/dynamic/dynamic_enum.md
Labels: 动态/Dynamic, 文档/Document, 更新/Update

#891 添加bilibili游戏web端游戏详情页api appkey和appsec
  docs/misc/sign/APPKey.md
Labels: 新增/Add, 主站杂项/Misc

#892 update wbi sign description
  docs/misc/sign/wbi.md
Labels: 主站杂项/Misc, 更新/Update

#894 Update videostream_url.md
  docs/video/videostream_url.md
Labels: 新增/Add, 音频/Audio

#893 图片格式化 .avg_color 参数
  docs/misc/picture.md
Labels: 新增/Add, 主站杂项/Misc
