Repository SocialSisterYi/bilibili-API-collect, pull requests merged in 2023-03, with the labels that each got.

#630 修改location相关说明
  docs/comment/readme.md
Labels: 新增/ADD, 评论/Reply

#622 完善直播间数据包，添加上舰通知、醒目留言
  docs/live/message_stream.md
Labels: 新增/ADD, 直播/Live

#642 add: new united playurl grpc interface
  grpc_api/bilibili/app/playerunite/pgcanymodel/pgcanymodel.proto
  grpc_api/bilibili/app/playerunite/ugcanymodel/ugcanymodel.proto
  grpc_api/bilibili/app/playerunite/v1/playurl.proto
  grpc_api/bilibili/pgc/gateway/player/v2/playurl.proto
  grpc_api/bilibili/playershared/playershared.proto
  grpc_api/bilibili/web/interfaces/v1/interfaces.proto
Labels: 新增/ADD, 视频/Video, 客户端/App, gRpcAPI

#638 增加SUPER_CHAT_MESSAGE中data.message_trans字段的说明
  docs/live/message_stream.md
Labels: 新增/ADD, 直播/Live

#641 add detailed appkey info
  docs/other/API_sign.md
Labels: 新增/ADD, 客户端/App

#644 add: new united view grpc interface
  grpc_api/bilibili/account/fission/v1/fission.proto
  grpc_api/bilibili/api/probe/v1/probe.proto
  grpc_api/bilibili/app/click/v1/heartbeat.proto
  grpc_api/bilibili/app/playerunite/v1/playerunite.proto
  grpc_api/bilibili/app/show/mixture/v1/mixture.proto
  grpc_api/bilibili/app/viewunite/pgcanymodel.proto
  grpc_api/bilibili/app/viewunite/ugcanymodel.proto
  grpc_api/bilibili/app/viewunite/v1/viewunite.proto
  grpc_api/bilibili/render/render.proto
Labels: 新增/ADD, gRpcAPI

#646 add: grpc proto distribution
  grpc_api/bilibili/app/distribution/setting/download.proto
  grpc_api/bilibili/app/distribution/setting/dynamic.proto
  grpc_api/bilibili/app/distribution/setting/experimental.proto
  grpc_api/bilibili/app/distribution/setting/internaldevice.proto
  grpc_api/bilibili/app/distribution/setting/night.proto
  grpc_api/bilibili/app/distribution/setting/other.proto
  grpc_api/bilibili/app/distribution/setting/pegasus.proto
  grpc_api/bilibili/app/distribution/setting/play.proto
  grpc_api/bilibili/app/distribution/setting/privacy.proto
  grpc_api/bilibili/app/distribution/setting/search.proto
  grpc_api/bilibili/app/distribution/v1/distribution.proto
Labels: 新增/ADD, 客户端/App, gRpcAPI
