Repository SocialSisterYi/bilibili-API-collect, pull requests merged in 2023-01, with the labels that each got.

#566 更新小黑屋封禁公示信息
  blackroom/banlist.md
  blackroom/jury/base_info.md
Labels: 新增/ADD, 主站杂项/Misc

#582 增加了一个`#`
  comment/list.md
Labels: 错误/MISTAKES

#580 使直播信息流文档更完善些。
  README.md
  live/message_stream.md
Labels: 新增/ADD, 直播/Live

#581 增加视频荣誉类型
  video/info.md
Labels: 新增/ADD, 视频/Video

#585 修复获取用户专栏信息的部分错误
  article/list.md
Labels: 错误/MISTAKES, 专栏/Article

#586 更改数据类型名称、完善文档、添加目录
  live/message_stream.md
Labels: 新增/ADD, 直播/Live

#591 补充状态码
  danmaku/action.md
Labels: 新增/ADD, 弹幕/Danmaku

#589 补充查询用户投稿视频明细字段
  user/space.md
Labels: 错误/MISTAKES, 用户/Member

#588 补充字段
  video/info.md
Labels: 新增/ADD, 视频/Video

#587 添加“查询互相关注明细”、“查询历史充电数据”API
  electric/charge_list.md
  user/info.md
  user/relation.md
Labels: 新增/ADD, 用户/Member

#596 一些动态有关的api
  README.md
  dynamic/action.md
  dynamic/basicInfo.md
  dynamic/delete.md
  dynamic/publish.md
Labels: 新增/ADD, 动态/Dynamic

#601 添加视频分享说明
  README.md
Labels: 新增/ADD
