Repository SocialSisterYi/bilibili-API-collect, pull requests merged in 2024-07, with the labels that each got.

#1048 添加关注UP直播情况
  README.md
  docs/live/follow_up_live.md
  docs/live/info.md
Labels: 新增/Add, 直播/Live

#1049 feat: 更新部分接口文档的表述
  docs/album/action.md
  docs/comment/readme.md
  docs/danmaku/danmaku_view_proto.md
  docs/dynamic/action.md
  docs/dynamic/atlist.md
  docs/user/info.md
  docs/video/info.md
  docs/video/recommend.md
Labels: 用户/Member, 文档/Document, 更新/Update

#1050 添加 开通直播间
  docs/live/manage.md
Labels: 新增/Add, 直播/Live

#1051 fix:获取首页视频推荐列表地址已更换
  docs/video/recommend.md
Labels: 主站杂项/Misc, 更新/Update

#1059 fix: 修复获取 wbi 签名的 rust 实现
  docs/misc/sign/wbi.md
Labels: 错误/Mistakes, 文档/Document

#1056 feat: 更新部分接口
  docs/dynamic/nav.md
  docs/message/msg.md
  docs/message/private_msg.md
  docs/misc/time_stamp.md
  docs/video/player.md
  docs/video/recommend.md
Labels: 新增/Add, 视频/Video, 动态/Dynamic, 用户/Member, 主站杂项/Misc

#1061 feat: bili_ticket 算法 Java 实现 及 信息补充 及 错误修正
  README.md
  docs/clientinfo/ip.md
  docs/fav/info.md
  docs/live/manage.md
  docs/misc/buvid3_4.md
  docs/misc/bvid_desc.md
  docs/misc/device_identity.md
  docs/misc/picture.md
  docs/misc/sign/bili_ticket.md
  docs/misc/sign/wbi.md
  docs/misc/time_stamp.md
  docs/user/space.md
  docs/video/action.md
  docs/video_ranking/dynamic.md
Labels: 新增/Add, 错误/Mistakes, 视频/Video, 动态/Dynamic, 用户/Member, 主站杂项/Misc, 文档/Document, 更新/Update, 算法/Algorithm

#1063 feat: 添加“智能修复”清晰度文档相关表述
  docs/bangumi/videostream_url.md
Labels: 新增/Add, 视频/Video, 大会员/Vip

#1064 feat: 更新web端视频操作播放合集相关接口
  README.md
  docs/live/follow_up_live.md
  docs/misc/buvid3_4.md
  docs/user/info.md
  docs/video/action.md
  docs/video/collection.md
  docs/video/info.md
  docs/video/report.md
Labels: 新增/Add, 视频/Video, 直播/Live, 主站杂项/Misc

#1068 feat: 添加wbi加签的Kotlin实现, 优化Java实现
  docs/misc/sign/wbi.md
Labels: 新增/Add, 算法/Algorithm
