Repository SocialSisterYi/bilibili-API-collect, pull requests merged in 2024-09, with the labels that each got.

#1086 修正docs/live/info.md
  docs/live/info.md
Labels: 新增/Add, 直播/Live

#1098 视频基本信息 API 新增返回值 62012：仅UP主自己可见
  docs/video/attribute_data.md
  docs/video/info.md
Labels: 新增/Add, 视频/Video

#1101 feat: 更新动态 at 填充列表、多用户信息的文档说明
  docs/dynamic/atlist.md
  docs/user/info.md
Labels: 动态/Dynamic, 用户/Member, 更新/Update

#1087 修正docs/video/videostream_url.html
  docs/video/videostream_url.md
Labels: 视频/Video, 更新/Update

#1090 fix(APP_widget/ver.md): fix wrong desc and add details
  docs/APP_widget/ver.md
Labels: 错误/Mistakes, 客户端/App

#1088 调整部分接口描述与错误修复
  README.md
  docs/APP_widget/ver.md
  docs/activity/info.md
  docs/audio/musicstream_url.md
  docs/blackroom/jury/judgement_info.md
  docs/comment/list.md
  docs/comment/readme.md
  docs/creativecenter/upload.md
  docs/danmaku/action.md
  docs/dynamic/detail.md
  docs/live/info.md
  docs/live/message_stream.md
  docs/live/user.md
  docs/login/cookie_refresh.md
  docs/login/login_action/password.md
  docs/login/member_center.md
  docs/message/private_msg.md
  docs/misc/buvid3_4.md
  docs/misc/sign/v_voucher.md
  docs/misc/sign/wbi.md
  docs/search/search_request.md
  docs/user/medals.md
  docs/user/register.md
  docs/user/space.md
  docs/video/action.md
  docs/video/appeal.md
  docs/video/attribute_data.md
  docs/video/info.md
  docs/video/player.md
  docs/video/report.md
  docs/video/status_number.md
  yarn.lock
Labels: 视频/Video, 账号相关/Account, 动态/Dynamic, 弹幕/Danmaku, 评论/Reply, 用户/Member, 音频/Audio, 主站杂项/Misc, 小黑屋/BlackRooms, 文档/Document, 更新/Update, 消息/Message

#983 feat: 添加消息中心接口相关说明
  CONTRIBUTING.md
  README.md
  docs/history&toview/history.md
  docs/message/msg.md
  docs/message/private_msg.md
  docs/message/private_msg_content.md
Labels: 用户/Member, 文档/Document, 更新/Update
