Repository SocialSisterYi/bilibili-API-collect, pull requests merged in 2025-06, with the labels that each got.

#1117 增加了一个无需wbi鉴权的用户投稿明细查询接口
  docs/user/space.md
Labels: 新增/Add

#1125 增加了模拟app点击获取短视频推荐列表接口，修改上次pr的错误表头
  docs/user/space.md
  docs/video/recommend.md
Labels: 视频/Video

#1171 docs/garb/lottery.md: 补充三个与装扮和收藏集相关的重要接口
  docs/garb/lottery.md
  docs/live/follow_up_live.md
Labels: 新增/Add, 主站杂项/Misc

#1173 更新：获取剧集明细（web端）（ssid/epid方式）
  docs/bangumi/info.md
Labels: 剧集/Bangumi

#1297 添加部分直播相关api
  README.md
  docs/clientinfo/ip.md
  docs/dynamic/detail.md
  docs/dynamic/space.md
  docs/live/gift.md
  docs/live/guard.md
  docs/live/user.md
  docs/user/info.md
  docs/user/relation.md
Labels: 新增/Add, 直播/Live

#1316 fix: 在视频流 fnval 补充 4048 信息
  docs/video/videostream_url.md
Labels: 新增/Add, 视频/Video
