Repository SocialSisterYi/bilibili-API-collect, pull requests merged in 2025-05, with the labels that each got.

#1240 feat: 用户投稿视频明细新增参数
  docs/user/space.md
Labels: 投稿/Upload

#572 增加了直播流水获取的接口
  README.md
  docs/live/live_bill.md
Labels: 新增/Add, 直播/Live

#1244 feat: 补齐播放器接口的互动视频资讯
  docs/video/interact_video.md
  docs/video/player.md
Labels: 视频/Video

#1118 [~] 修改查询黑名单明细中的每页项数的备注
  docs/user/relation.md
Labels: 用户/Member

#1150 新增视频基本信息视频所在视频合集信息ugc_season
  docs/video/info.md
Labels: 视频/Video
